textarea {
  font-family: "Consolas", monospace;
}

h1, h2 {
  padding: 0.2em 0.1em;
}

.start-text {
  display: block;
  color: #ccc;
  font-size: 100%;
}

.code {
  display: block;
  color: #777;
  font-size: 100%;
  white-space: pre;
}

.container {
  margin-left: 0.2em;
}

.row {
  padding: 2em 0;
}

#pills-rdf {
  font-family: "Consolas", monospace;
}
